.gallery {
    .photo-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 50px;
  
      .photo-item {
        display: flex;
        flex-direction: column;
        width: 32.5%;
      }
    }
  }
  
  .container_img {
    position: relative;
    padding-bottom: 13px;
  }
  
  .image {
    opacity: 0.9;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container_img:hover .image {
    opacity: 1;
    transition: 0.6s ease;
    transform: scale(1.08);
    filter: none;
    -webkit-filter: grayscale(0);
  }
  
  .container_img:hover .middle {
    opacity: 1;
  }
  
  .text {
    font-family: $primary-font;
    font-size: 2.3rem;
    color: white;
    text-decoration: underline;
  }
  