@media only screen and (min-width: 887px) and (max-width: 1280px) {
  .myVideo {
    position: relative;
    top: -100px;
  }

  .text-box {
    h2,
    h1 {
      font-size: 100px !important;
    }
  }
}

@media only screen and (min-width: 594px) and (max-width: 887px) {
  .container-heading {
    .myVideo {
      position: relative;
      top: -100px;
    }
    .text-box {
      padding-top: 150px;

      h2,
      h1 {
        font-size: 90px;
      }
    }
    .heading {
      width: 500px;
      h3,
      p {
        font-size: 20px;
      }
    }
  }

  .gallery {
    .photo-box {
      flex-direction: column;

      .photo-item {
        width: 100%;
      }
    }
  }

  section {
    h1 {
      text-align: center;
      padding: 0 10px;
    }
  }
  footer {
    flex-direction: column;

    .subscription {
      display: none;
    }
    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
  }
}
@media screen and (min-width: 400px) and (max-width: 594px) {
  .container-heading {
    min-width: 400px;
    .myVideo {
      position: relative;
      top: -110px;
    }

    .text-box {
      h2,
      h1 {
        font-size: 60px !important;
      }
    }

    .heading {
      max-width: 400px;
      left: -90px;
      h3,
      p {
        font-size: 18px;
      }
    }
  }

  footer {
    flex-direction: column;

    .subscription {
      display: none;
    }
    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }
  }
}
